<!DOCTYPE html>
<html>
  <head>
    <title>驾驶员调度信息管理系统</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <!--[if lt IE 9]>
      <%= javascript_include_tag "html5" %>
    <![endif]-->
    <%= csrf_meta_tags %>
  </head>

  <body id="<%= yield :body_id %>">
    <%= render "/commons/header" %>

    <%= yield %>

    <%= render "/commons/footer" %>
  </body>
</html>
